/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    CIBERER/nf-CBRA-snvs CIBERER groups profiles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config options to run the pipelines from different CIBERER groups
----------------------------------------------------------------------------------------
*/

profiles {
    tblab {
        params {
            
            //plugins dir
            plugins_dir = ""

            // dbscSNV
            dbscSNV = ""
            dbscSNV_tbi = { -> "${params.dbscSNV}.tbi" }
            dbscSNV_files = { -> "${params.dbscSNV},${params.dbscSNV_tbi}" }

            // dbNSFP
            dbNSFP = ""
            dbNSFP_tbi = { -> "${params.dbNSFP}.tbi" }

            dbNSFP_gene = ""

            dbNSFP_files = { -> "${params.dbNSFP},${params.dbNSFP_tbi}" }

            // population frequencies
            //gnomad
            gnomadg = ""
            gnomadg_tbi = { -> "${params.gnomadg}.tbi" }

            gnomadg_cov = ""
            gnomadg_cov_tbi = { -> "${params.gnomadg_cov}.tbi" }
            gnomade = ""
            gnomade_tbi = { -> "${params.gnomade}.tbi" }
            gnomade_cov = ""
            gnomade_cov_tbi = { -> "${params.gnomade_cov}.tbi" }

            gnomad_files = { -> "${params.gnomadg},${params.gnomadg_tbi},${params.gnomadg_cov},${params.gnomadg_cov_tbi},${params.gnomade},${params.gnomade_tbi},${params.gnomade_cov},${params.gnomade_cov_tbi}" }

            //cSVS
            cSVS = ""
            cSVS_tbi = { -> "${params.cSVS}.tbi" }
            cSVS_files = { -> "${params.cSVS},${params.cSVS_tbi}" }

            //kaviar 
            kaviar = ""
            kaviar_tbi = { -> "${params.kaviar}.tbi" }
            kaviar_files = { -> "${params.kaviar},${params.kaviar_tbi}" }

            //maf_FJD_COHORT
            maf_FJD_COHORT = ""
            maf_FJD_COHORT_tbi = { -> "${params.maf_FJD_COHORT}.tbi" }
            maf_FJD_COHORT_files = { -> "${params.maf_FJD_COHORT},${params.maf_FJD_COHORT_tbi}" }
            frequencies_all_files = { -> "${params.gnomad_files},${params.cSVS_files},${params.kaviar_files},${params.maf_FJD_COHORT_files}" }

            // Pathogenicity Prediction

            //CADD
            CADD_SNVS = ""
            CADD_SNVS_TBI = { -> "${params.CADD_SNVS}.tbi" }
            CADD_INDELS = ""
            CADD_INDELS_TBI = { -> "${params.CADD_INDELS}.tbi" }

            CADD_files = { -> "${params.CADD_SNVS},${params.CADD_SNVS_TBI},${params.CADD_INDELS},${params.CADD_INDELS_TBI}" }

            //Mutscore
            mutscore = ""
            mutscore_tbi = { -> "${params.mutscore}.tbi" }

            mutscore_files = { -> "${params.mutscore},${params.mutscore_tbi}" }

                //REVEL
            revel = ""
            revel_tbi = { -> "${params.revel}.tbi" }

            revel_files = { -> "${params.revel},${params.revel_tbi}" }

                //LofTools
            loFtool = ""

                //exACpLI

            exACpLI = ""


            patho_pred_all_files = { -> "${params.CADD_files},${params.mutscore_files},${params.revel_files},${params.loFtool},${params.exACpLI}" }

            // Clinvar 
            clinvar = ""
            clinvar_tbi = { -> "${params.clinvar}.tbi" }

            clinvar_files = { -> "${params.clinvar},${params.clinvar_tbi}" }

            // Omim
            omim = ""

            // cCRS_DB

            cCRS_DB = ""
            cCRS_DB_tbi = { -> "${params.cCRS_DB}.tbi" }

            cCRS_files = { -> "${params.cCRS_DB},${params.cCRS_DB_tbi}" }

            // dENOVO_DB
            dENOVO_DB = ""
            dENOVO_DB_tbi = { -> "${params.dENOVO_DB}.tbi" }

            dENOVO_files = { -> "${params.dENOVO_DB},${params.dENOVO_DB_tbi}" }

            // Splicing
            spliceAI_SNV = ""
            spliceAI_SNV_tbi = { -> "${params.spliceAI_SNV}.tbi" }
            spliceAI_INDEL = ""
            spliceAI_INDEL_tbi = { -> "${params.spliceAI_INDEL}.tbi" }
            splicing_files = { ->  "${params.spliceAI_SNV},${params.spliceAI_SNV_tbi},${params.spliceAI_INDEL},${params.spliceAI_INDEL_tbi},${params.maxEntScan}" }

            maxEntScan  = ""


            // domino
            domino = ""

            // tissue expression
            tissue_expression = ""

            // region_dict
            region_dict = ""

            // Gene Panels for annotation

            gene_panels = ""

            extra_files_pvm = { -> "${params.domino},${params.tissue_expression},${params.region_dict},${params.omim},${params.gene_panels},${params.dbNSFP_gene}" }

            // All annotation files
            extra_files = { -> "${params.dbscSNV_files},${params.dbNSFP_files},${params.frequencies_all_files},${params.patho_pred_all_files},${params.clinvar_files},${params.cCRS_files},${params.dENOVO_files},${params.splicing_files}" }

        }

        process {
                withName: '.*SNV_ANNOTATION:ENSEMBLVEP_VEP' {
                ext.args    = { ["--refseq --tab --format vcf --offline --force_overwrite --use_transcript_ref --check_existing --canonical",
                "--numbers --hgvs --biotype --regulatory --symbol --protein --sift p --polyphen p --allele_number --variant_class --pubmed",
                "--custom ${meta.id}.vcf_to_annotate.vcf.gz,SAMPLE,vcf,exact,0\$(cat ${meta.id}.fields.txt)",
                (params.plugins_dir) ? "--dir_plugins ${params.plugins_dir}" : '',
                (params.dbscSNV) ? "--plugin dbscSNV,${params.dbscSNV}" : '',
                (params.loFtool) ? "--plugin LoFtool,${params.loFtool}" : '',
                (params.exACpLI) ? "--plugin pLI,${params.exACpLI}" : '',
                (params.dbNSFP) ? "--plugin dbNSFP,${params.dbNSFP},LRT_pred,M-CAP_pred,MetaLR_pred,MetaSVM_pred,MutationAssessor_pred,MutationTaster_pred,PROVEAN_pred,FATHMM_pred,MetaRNN_pred,PrimateAI_pred,DEOGEN2_pred,BayesDel_addAF_pred,BayesDel_noAF_pred,ClinPred_pred,LIST-S2_pred,Aloft_pred,fathmm-MKL_coding_pred,fathmm-XF_coding_pred,Polyphen2_HDIV_pred,Polyphen2_HVAR_pred,phyloP470way_mammalian,phastCons470way_mammalian,GERP++_RS,Interpro_domain,GTEx_V8_eQTL_gene,GTEx_V8_eQTL_tissue " : '',
                (params.maxEntScan) ? "--plugin MaxEntScan,${params.maxEntScan}" : '',
                (params.CADD_SNVS && params.CADD_INDELS) ? "--plugin CADD,${params.CADD_SNVS},${params.CADD_INDELS}" : '',
                (params.kaviar) ? "--custom ${params.kaviar},Kaviar,vcf,exact,0,AF,AC,AN" : '',
                (params.cCRS_DB) ? "--custom ${params.cCRS_DB},gnomAD_exomes_CCR,bed,overlap,0 " : '',
                (params.dENOVO_DB) ? "--custom ${params.dENOVO_DB},denovoVariants,vcf,exact,0,SAMPLE_CT " : '',
                (params.clinvar) ? "--custom ${params.clinvar},ClinVar,vcf,exact,0,CLNSIG,CLNREVSTAT,CLNDN,CLNSIGCONF " : '',
                (params.gnomadg) ? "--custom ${params.gnomadg},gnomADg,vcf,exact,0,AF,AC,AN,nhomalt,grpmax,AF_grpmax,AC_grpmax,AF_nfe,AC_nfe,filt" : '',
                (params.gnomade) ? "--custom ${params.gnomade},gnomADe,vcf,exact,0,AF,AC,AN,nhomalt,grpmax,AF_grpmax,AC_grpmax,AF_nfe,AC_nfe,filt" : '',
                (params.gnomadg_cov) ? "--custom ${params.gnomadg_cov},gnomADg_cov,vcf,overlap,0,median,perc_20x " : '',
                (params.gnomade_cov) ? "--custom ${params.gnomade_cov},gnomADe_cov,vcf,overlap,0,median,perc_20x " : '',
                (params.cSVS) ? "--custom ${params.cSVS},CSVS,vcf,exact,0,AF,AC " : '',
                (params.mutscore) ? "--custom ${params.mutscore},Mut,vcf,exact,0,Score " : '',
                (params.maf_FJD_COHORT) ? "--custom ${params.maf_FJD_COHORT},FJD_MAF,vcf,exact,0,AF,AC,AF_DS_irdt,AC_DS_irdt,AF_P_eyeg,AC_P_eyeg" : '',
                (params.spliceAI_SNV) ? "--custom ${params.spliceAI_SNV},SpliceAI_SNV,vcf,exact,0,SpliceAI" : '',
                (params.spliceAI_INDEL) ? "--custom ${params.spliceAI_INDEL},SpliceAI_INDEL,vcf,exact,0,SpliceAI" : '',
                (params.revel) ? "--custom ${params.revel},REVEL,vcf,exact,0,Score " : ''
                ].join(' ').trim()
                }
            }

            withName: '.*SNV_ANNOTATION:POSTVEP' {
                ext.args    = { [
                (params.domino) ? "--domino ${params.domino}" : '',
                (params.tissue_expression) ? "--expression ${params.tissue_expression}" : '',
                (params.region_dict) ? "--regiondict ${params.region_dict}" : '',
                (params.gene_panels) ? "--panel_annotation_file ${params.gene_panels}" : '',
                (params.dbNSFP_gene) ? "--dbNSFPgene ${params.dbNSFP_gene}" : ''
                ].join(' ').trim()
                }
            }
        }           
    }
}