nextflow.enable.moduleBinaries = true

process {
    
    withName: ENSEMBLVEP_DOWNLOAD {
        ext.args    = '--AUTO c --CONVERT --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE'
        ext.prefix  = { "${params.vep_cache_version}_${params.vep_genome}" }
    }

    withName: 'SNV_ANNOTATION:ENSEMBLVEP_VEP' {
        ext.args    = { ["--refseq --tab --format vcf --offline --force_overwrite --use_transcript_ref --check_existing --canonical --everything",
        "--custom ${meta.id}.vcf_to_annotate.vcf.gz,SAMPLE,vcf,exact,0\$(cat ${meta.id}.fields.txt)"
        ].join(' ').trim()
        }
    }
}