nextflow.enable.moduleBinaries = true

process {

    withName: 'SNV_ANNOTATION:ENSEMBLVEP_VEP' {
        ext.args    = { ["--refseq --tab --format vcf --offline --force_overwrite --use_transcript_ref --check_existing --canonical --everything",
        "--custom ${meta.id}.vcf_to_annotate.vcf.gz,SAMPLE,vcf,exact,0\$(cat ${meta.id}.fields.txt)"
        ].join(' ').trim()
        }
    }
}